# python 2.7
rlp==0.6.0
Django==1.11
web3==3.16.5
simplejson>=2.1
lxml
jsonschema
pytz
python-dateutil
flask
gevent-fastcgi
requests
blinker
croniter
ip2location
jinja2
ndg-httpsclient
pillow==2.7.0
prometheus-client>=0.0.21
psutil
pyasn1
#pyBarcode
pyCrypto
#pycurl==7.19.0
pygeoip
pymemcache
PyMySQL
pyOpenSSL
pysftp==0.2.8
python-memcached
qrcode
raven
redis>=2.10.3
six
sqlalchemy
tornado==4.1
django-cors-headers
django-extensions
django-debug-toolbar
matplotlib
pandas
